<ion-view view-title="Показания">
	<ion-content class="padding" style="background:#eee;">
		<br/>
		<div class="indicator" title="Последнее обновление {{user.gasupdated*1000|date:'yyyy-MM-dd HH:mm:ss'}}" ng-click="go('#/tab/data/')">
			<img ng-if="user.gasvolume == 0" ng-src="img/indicator/0.png" alt="" />
			<img ng-if="user.gasvolume > 0 && user.gasvolume <= 25" ng-src="img/indicator/25.png" alt="" />
			<img ng-if="user.gasvolume > 25 && user.gasvolume < 85" ng-src="img/indicator/50.png" alt="" />
			<img ng-if="user.gasvolume >= 85" ng-src="img/indicator/100.png" alt="" />
			<div class="value">{{ user.gasvolume }}%</div>
		</div>
	</ion-content>
</ion-view>
