<ion-view view-title="Информация">
	<ion-content>
		<ul class="list">
			<li class="item">Клиент<span class="item-note">{{user.display_name}}</span></li>
			<li class="item">Email<span class="item-note">{{user.email}}</span></li>
			<li class="item">Телефон<span class="item-note">{{user.phonenumber}}</span></li>
			<li class="item">Адрес<span class="item-note">{{user.address}}</span></li>
			<li class="item">Район<span class="item-note">{{user.district}}</span></li>
			<li class="item">Серийный номер<span class="item-note">{{user.serial}}</span></li>
			<li class="item">Sim-номер<span class="item-note">{{user.simnumber}}</span></li>
			<li class="item">Объём<span class="item-note">{{user.gasbottle}}</span></li>
			<li class="item">Логин<span class="item-note">{{user.username}}</span></li>
		</ul>
	</ion-content>
</ion-view>
