<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Dash Tab -->
	<ion-tab title="Показания" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/tab/dash">
		<ion-nav-view name="tab-dash"></ion-nav-view>
	</ion-tab>

	<!-- Data Tab -->
	<ion-tab title="Расход" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/data">
		<ion-nav-view name="tab-data"></ion-nav-view>
	</ion-tab>

	<!-- Account Tab -->
	<ion-tab title="Информация" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/account">
		<ion-nav-view name="tab-account"></ion-nav-view>
	</ion-tab>

	<!-- News Tab -->
	<ion-tab title="Новости" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/news">
		<ion-nav-view name="tab-news"></ion-nav-view>
	</ion-tab>

</ion-tabs>
