<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Dashboard Tab -->
	<ion-tab title="Расход" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
		<ion-nav-view name="tab-dash"></ion-nav-view>
	</ion-tab>

	<!-- Gas Tab -->
	<ion-tab title="Показания" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/tab/gas">
		<ion-nav-view name="tab-gas"></ion-nav-view>
	</ion-tab>

	<!-- Account Tab -->
	<ion-tab title="Информация" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/account">
		<ion-nav-view name="tab-account"></ion-nav-view>
	</ion-tab>

	<!-- Logout Tab -->
	<ion-tab title="Выход" icon-off="ion-ios-redo-outline" ng-click="logout()"></ion-tab>

</ion-tabs>
