/* ionic rgaz app */

.indicator {
	max-width:308px;
	position:relative;
	padding:0 10px;
	margin:0 auto;
	text-align:center;
}
.indicator img {
	width:100%;
}
.indicator .value {
	position:absolute;
	top:50%;
	left:50%;
	text-align:center;
	width:50px;
	line-height:30px;
	margin:0 0 0 -25px;
	font-size:2em;
	white-space:nowrap;
	font-weight:700;
	text-shadow:1px 0 0 #fff;
	color:#222
}

.gasholder {
	max-width:786px;
	position:relative;
	padding:0 10px;
	margin:0 auto;
}
.gasholder img {
	width:100%;
	display:block;
}
.gasholder .progress {
	position:absolute;
	bottom:0;
	left:6.5%;
	width:87%;
	bottom:10%;
	height:56%;
}
.gasholder .progress div {
	position:absolute;
	background:blue;
	opacity:0.6;
	width:100%;
	bottom:0;
	left:0;
}
.gasholder .value {
	position:absolute;
	top:50%;
	left:50%;
	text-align:center;
	width:50px;
	line-height:30px;
	margin:0 0 0 -15px;
	font-size:2em;
	white-space:nowrap;
	font-weight:700;
}